<%- include('includes/header')%>
<body>
  <div class="card" style="width: 18rem">
    <img
      src="https://bahrain.bentleymotors.com/picserver1/userdata/1/31596/3FAdVwEMPE/01-1400x700_rear_3_4_gt_s_24.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Bentley Continental GT</h5>
      <p class="card-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae
        nulla quidem cupiditate quam laborum nostrum dignissimos vel animi
        maiores sequi!
      </p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
</body>
<%- include('includes/footer')%>
