.users-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #C75B7A; 
  padding: 30px; 
}

.users-container .navigation-menu {
  position: sticky;
  top: 0;
  width: 100%;
  background: #d77692; 
  border-radius: 20px; 
  padding: 10px 0;
  color: #efefee;
  font-size: 20px;
  font-family: monospace;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.users-container a {
  text-decoration: none;
  color: #000000;
}

.users-container .nav-item a {
  color: #e3c08d; 
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.users-container .nav-item a.disabled {
  color: #898071; 
}

.users-container .nav-item a:hover,
.users-container .nav-item a:active {
  background: #C75B7A; 
  border-radius: 10px; 
  color: #ffffff;
}

/* Users Frame */
.users-container .users-frame {
  position: relative;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 15px;
  height: auto;
  border-radius: 20px; 
  background: #d77692; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-container .users-frame .board {
  position: relative;
  margin-top: 30px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px; /* Rounded corners */
}

/* User Table Styles */
.users-container .board .user-table {
  position: relative;
  width: 80%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-container table td,
.users-container table th {
  text-align: center;
  vertical-align: middle;
  background: #C75B7A; /* Matching table cell background color */
}

/* Header Styling */
.users-container .header-name {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  color: #e3c08d;
  font-size: 40px; 
  font-family: monospace;
}

.users-container select:focus {
  min-width: 100%;
  width: auto;
}

.users-container .spec-select {
  position: relative;
  padding: 0px 7px;
  height: 27px;
  background: #C75B7A; 
  border: 1px solid #dddddd;
  border-radius: 8px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}
